<%= form_with(model: holding, local: true) do |form| %>
  <% if holding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(holding.errors.count, "error") %> prohibited this holding from being saved:</h2>

      <ul>
      <% holding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 

  <div class="field">
    <%= form.label :stock_symbol %>
    <%= form.text_field :stock_symbol %>
  </div>

  <div class="field">
    <%= form.label :shares %>
    <%= form.number_field :shares %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
