<p id="notice"><%= notice %></p>

<div id="portfolioBalanceContainer">
<div id="portfolioBalanceTextContainer">
    <div id="portfolioBalanceText">
        Portfolio ($5943.34)
    </div>
</div>
</div>
<div id="bossContainer">

<div id="holdingsAndPurchaseContainer">
    <div id="holdingsOuterContainer">
        <div id="holdingsMainContainer">
            <div class="holdingsRow">
                <div class="holdingsStockName">
                    AAPL
                </div>
                <div class="dashContainer">
                    -
                </div>
                <div class="holdingsShares">
                    6 Shares
                </div>
                <div class="holdingsValuePerStock">
                    $2043.79
                </div>
            </div>
            <br>
            <div class="holdingsRow">
                <div class="holdingsStockName">
                    AAPL
                </div>
                <div class="dashContainer">
                    -
                </div>
                <div class="holdingsShares">
                    6 Shares
                </div>
                <div class="holdingsValuePerStock">
                    $2043.79
                </div>
            </div>
            <br>
            <div class="holdingsRow">
                <div class="holdingsStockName">
                    AAPL
                </div>
                <div class="dashContainer">
                    -
                </div>
                <div class="holdingsShares">
                    6 Shares
                </div>
                <div class="holdingsValuePerStock">
                    $2043.79
                </div>
            </div>
            <br>
            <div class="holdingsRow">
                <div class="holdingsStockName">
                    AAPL
                </div>
                <div class="dashContainer">
                    -
                </div>
                <div class="holdingsShares">
                    6 Shares
                </div>
                <div class="holdingsValuePerStock">
                    $2043.79
                </div>
            </div>
            <br>
            <div class="holdingsRow">
                <div class="holdingsStockName">
                    AAPL
                </div>
                <div class="dashContainer">
                    -
                </div>
                <div class="holdingsShares">
                    6 Shares
                </div>
                <div class="holdingsValuePerStock">
                    $2043.79
                </div>
            </div>
            <br>
            <div class="holdingsRow">
                <div class="holdingsStockName">
                    AAPL
                </div>
                <div class="dashContainer">
                    -
                </div>
                <div class="holdingsShares">
                    6 Shares
                </div>
                <div class="holdingsValuePerStock">
                    $2043.79
                </div>
            </div>
            <br>





        </div>

    </div>
    <div id="makePurchaseOuterContainer">
        <div id="makePurchaseMainContainer">
            <div id="cashBalanceContainer">
                Cash - <%= @user_account_balance %>
            </div>
            <br>
            <form id="getPriceForm">
                <input class="form" type="text" name="firstname" placeholder="Ticker">
                <br>
                <br>
                <input class="form" type="text" name="lastname" placeholder="Qty">
                <br>
                <br>
                <button id="getPriceButton" type="submit">Buy</button>
            </form>
            <div id="confirmTradeContainer">
            <div class="stockQuote">$1,000.00 is the cost for 6 shares of AAPL </div>
            <br>
            <button id="confirmPurchaseBtn" type="submit">Confirm Purchase</button>
            <br>
            <br>
            <button id="cancelPurchaseBtn" type="submit">Cancel</button>
        </div>
        </div>
    </div>
</div>
</div>


<h1>Holdings</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Stock symbol</th>
      <th>Shares</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @holdings.each do |holding| %>
      <tr>
        <td><%= holding.user_id %></td>
        <td><%= holding.stock_symbol %></td>
        <td><%= holding.shares %></td>
        <td><%= link_to 'Show', holding %></td>
        <td><%= link_to 'Edit', edit_holding_path(holding) %></td>
        <td><%= link_to 'Destroy', holding, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Holding', new_holding_path %>
<%= link_to('Logout', destroy_user_session_path, method: :delete) %> 
