<p id="notice"><%= notice %></p>

<div id="portfolioBalanceContainer">
<div id="portfolioBalanceTextContainer">
    <div id="portfolioBalanceText">
        Portfolio (<span id="portfolioFloatSum">calculating...</span>)
    </div>
</div>
</div>
<div id="bossContainer">

<div id="holdingsAndPurchaseContainer">
    <div id="holdingsOuterContainer">
        <div id="holdingsMainContainer">
        <% @holdings.each do |holding| %>
            <div class="holdingsRow">
    
                    <div class="holdingsStockName">
              
                    <%= holding.stock_symbol%>
                </div>
                <div class="dashContainer">
                    -
                </div>
                <div class="holdingsShares">
                    <span class="holdingsSharesInteger"> <%= holding.shares%> </span> 
                    <% if holding.shares > 1 %>
                        Shares
                    <% else %>
                        Share
                    <% end %>
                </div>
               
                    <div class="holdingsValuePerStock">
             
                    
                </div>
            </div>
            <br>
               
            <% end %>   
        </div>
        
    </div>
    <div id="makePurchaseOuterContainer">
        <div id="makePurchaseMainContainer">
            <div id="cashBalanceContainer">
                Cash - <%= number_to_currency(@user_account_balance) %>
                <span id="hiddenAccountBalance"><%=@user_account_balance%></span>
            </div>
            <br>
            <form id="getPriceForm">
                <input id="stock_symbol" class="form" type="text" name="firstname" placeholder="Ticker">
                <br>
                <br>
                <input id="numberOfShares" class="form" type="text" name="lastname" placeholder="Qty">
                <br>
                <br>
                <button id="getPriceButton">Buy</button>
            </form>
            <div id="confirmTradeContainer">
            <div id="stockQuote"></div>
            <br>
            <button id="confirmPurchaseBtn" type="submit">Confirm</button>
            <br>
            <br>
            <button id="cancelPurchaseBtn" type="submit">Cancel</button>
        </div>
        </div>
    </div>
</div>
</div>




<br>

<div id="hiddenForms">
<form action="/transactions" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"">




  <div class="field">
    <label for="transaction_stock_symbol">Stock symbol</label>
    <input type="text" name="transaction[stock_symbol]" id="transaction_stock_symbol">
  </div>

  <div class="field">
    <label for="transaction_shares">Shares</label>
    <input type="number" name="transaction[shares]" id="transaction_shares">
  </div>

  <div class="field">
    <label for="transaction_price_per_share">Price per share</label>
    <input class="text_field" step="any" type="number" name="transaction[price_per_share]" id="transaction_price_per_share">
  </div>

  <div class="actions">
    <input id="createTransactionBtn" type="submit" name="commit" value="Create Transaction" data-disable-with="Create Transaction">
  </div>
</form>

<form action="/holdings" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

 

  <div class="field">
    <label for="holding_stock_symbol">Stock symbol</label>
    <input type="text" name="holding[stock_symbol]" id="holding_stock_symbol">
  </div>

  <div class="field">
    <label for="holding_shares">Shares</label>
    <input type="number" name="holding[shares]" id="holding_shares">
  </div>

  <div class="actions">
    <input id="createHoldingBtn" type="submit" name="commit" value="Create Holding" data-disable-with="Create Holding">
  </div>
</form>

</div>
