<p id="notice"><%= notice %></p>

<div id="portfolioBalanceContainer">
<div id="portfolioBalanceTextContainer">
    <div id="portfolioBalanceText">
        Portfolio (<%= number_to_currency(@portfolio_gross) %>)
    </div>
    <div id="hiddenPortfolioValuation"> <%=@portfolio_gross %> </div>
</div>
</div>
<div id="bossContainer">

<div id="holdingsAndPurchaseContainer">
    <div id="holdingsOuterContainer">
        <div id="holdingsMainContainer">
            <% i = 1 %>
            <% while i <= @length %>
            <div class="holdingsRow">
                <%  if @holdingsObj[i]["openingPrice"] > @holdingsObj[i]["currentPrice"] %>
                    <div class="holdingsStockName stockInRed">
                <%  elsif @holdingsObj[i]["openingPrice"] == @holdingsObj[i]["currentPrice"] %>
                    <div class="holdingsStockName stockNeutral">
                <% else %>
                    <div class="holdingsStockName">
                <% end %>
                    <%= @holdingsObj[i]["stock_name"]%>
                </div>
                <div class="dashContainer">
                    -
                </div>
                <div class="holdingsShares">
                    <%= @holdingsObj[i]["shares"]%> Shares
                </div>
                <%  if @holdingsObj[i]["openingPrice"] > @holdingsObj[i]["currentPrice"] %>
                    <div class="holdingsValuePerStock stockInRed">
                <%  elsif @holdingsObj[i]["openingPrice"] == @holdingsObj[i]["currentPrice"] %>
                    <div class="holdingsValuePerStock stockNeutral">
                <% else %>
                    <div class="holdingsValuePerStock">
                <% end %>
                    <%= number_to_currency(@holdingsObj[i]["currentPrice"])%>
                </div>
            </div>
            <br>
                <% i+=1 %>
              <% end %>
        </div>

    </div>
    <div id="makePurchaseOuterContainer">
        <div id="makePurchaseMainContainer">
            <div id="cashBalanceContainer">
                Cash - <%= number_to_currency(@user_account_balance) %>
                <span id="hiddenAccountBalance"><%=@user_account_balance%></span>
            </div>
            <br>
            <form id="getPriceForm">
                <input id="stock_symbol" class="form" type="text" name="firstname" placeholder="Ticker">
                <br>
                <br>
                <input id="numberOfShares" class="form" type="text" name="lastname" placeholder="Qty">
                <br>
                <br>
                <button id="getPriceButton">Buy</button>
            </form>
            <div id="confirmTradeContainer">
            <div id="stockQuote"></div>
            <br>
            <button id="confirmPurchaseBtn" type="submit">Confirm Purchase</button>
            <br>
            <br>
            <button id="cancelPurchaseBtn" type="submit">Cancel</button>
        </div>
        </div>
    </div>
</div>
</div>




<br>

<%= link_to 'New Holding', new_holding_path %>
<%= link_to('Logout', destroy_user_session_path, method: :delete) %> 

<form action="/transactions" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="nhVaAbv4yLMu2ri6/6X8VUPrnGGvivrUdPLKfhxVB+UU+1RCFMbHj9H5r34JXV84C2mg/7iK3x/Yc42RCtJYng==">




  <div class="field">
    <label for="transaction_stock_symbol">Stock symbol</label>
    <input type="text" name="transaction[stock_symbol]" id="transaction_stock_symbol">
  </div>

  <div class="field">
    <label for="transaction_shares">Shares</label>
    <input type="number" name="transaction[shares]" id="transaction_shares">
  </div>

  <div class="field">
    <label for="transaction_price_per_share">Price per share</label>
    <input class="text_field" step="any" type="number" name="transaction[price_per_share]" id="transaction_price_per_share">
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Create Transaction" data-disable-with="Create Transaction">
  </div>
</form>

<form action="/holdings" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="xMV/dJ+69GFfA13OoNqc9FXBmrYFVsX0rcuCd25NEuZOK3E3MIT7XaAgSgpWIj+ZHUOmKBJW4D8BSsWYeMpNnQ==">

 

  <div class="field">
    <label for="holding_stock_symbol">Stock symbol</label>
    <input type="text" name="holding[stock_symbol]" id="holding_stock_symbol">
  </div>

  <div class="field">
    <label for="holding_shares">Shares</label>
    <input type="number" name="holding[shares]" id="holding_shares">
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Create Holding" data-disable-with="Create Holding">
  </div>
</form>


