<p id="notice"><%= notice %></p>

<div id="portfolioBalanceContainer">
<div id="portfolioBalanceTextContainer">
    <div id="portfolioBalanceText">
        Portfolio (<%= number_to_currency(@portfolio_gross) %>)
    </div>
    <div id="hiddenPortfolioValuation"> <%=@portfolio_gross %> </div>
</div>
</div>
<div id="bossContainer">

<div id="holdingsAndPurchaseContainer">
    <div id="holdingsOuterContainer">
        <div id="holdingsMainContainer">
            <% i = 1 %>
            <% while i <= @length %>
            <div class="holdingsRow">
                <%  if @holdingsObj[i]["openingPrice"] > @holdingsObj[i]["currentPrice"] %>
                    <div class="holdingsStockName stockInRed">
                <%  elsif @holdingsObj[i]["openingPrice"] == @holdingsObj[i]["currentPrice"] %>
                    <div class="holdingsStockName stockNeutral">
                <% else %>
                    <div class="holdingsStockName">
                <% end %>
                    <%= @holdingsObj[i]["stock_name"]%>
                </div>
                <div class="dashContainer">
                    -
                </div>
                <div class="holdingsShares">
                    <%= @holdingsObj[i]["shares"]%> Shares
                </div>
                <%  if @holdingsObj[i]["openingPrice"] > @holdingsObj[i]["currentPrice"] %>
                    <div class="holdingsValuePerStock stockInRed">
                <%  elsif @holdingsObj[i]["openingPrice"] == @holdingsObj[i]["currentPrice"] %>
                    <div class="holdingsValuePerStock stockNeutral">
                <% else %>
                    <div class="holdingsValuePerStock">
                <% end %>
                    <%= number_to_currency(@holdingsObj[i]["currentPrice"])%>
                </div>
            </div>
            <br>
                <% i+=1 %>
              <% end %>
        </div>

    </div>
    <div id="makePurchaseOuterContainer">
        <div id="makePurchaseMainContainer">
            <div id="cashBalanceContainer">
                Cash - <%= number_to_currency(@user_account_balance) %>
                <span id="hiddenAccountBalance"><%=@user_account_balance%></span>
            </div>
            <br>
            <form id="getPriceForm">
                <input id="stock_symbol" class="form" type="text" name="firstname" placeholder="Ticker">
                <br>
                <br>
                <input id="numberOfShares" class="form" type="text" name="lastname" placeholder="Qty">
                <br>
                <br>
                <button id="getPriceButton">Buy</button>
            </form>
            <div id="confirmTradeContainer">
            <div class="stockQuote">$1,000.00 is the cost for 6 shares of AAPL </div>
            <br>
            <button id="confirmPurchaseBtn" type="submit">Confirm Purchase</button>
            <br>
            <br>
            <button id="cancelPurchaseBtn" type="submit">Cancel</button>
        </div>
        </div>
    </div>
</div>
</div>




<br>

<%= link_to 'New Holding', new_holding_path %>
<%= link_to('Logout', destroy_user_session_path, method: :delete) %> 
