
<div id="graphGifContainer"> <img id="graphGif" src="/graphVisual.gif">  </div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="wrapper">

  <h1>Sign In</h1>
  <div class="field">
  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form", placeholder: "Email" %>
  </div>
  <br>

  <div class="field">
  <%= f.password_field :password, autocomplete: "current-password", class: "form", placeholder: "Password" %>
  </div>
<br>

  <div class="actions">
    <%= f.submit "Log in", class: "btn"  %>
  </div>
<% end %>

    </div>
