<p id="notice"><%= notice %></p>






<div id="portfolioBalanceContainer">
        <div id="portfolioBalanceTextContainer">
            <div id="portfolioBalanceText">
                Transactions
            </div>
        </div>
    </div>
    <div id="bossContainer">
        
    <div id="holdingsAndPurchaseContainer">
        <div id="holdingsOuterContainer">
            <div id="holdingsMainContainer">

            <% @transactions.each do |transaction| %>
              <div class="holdingsRow">
                <div class="holdingsStockName">
                  <%= transaction.buy_or_sell %> (<%= transaction.stock_symbol %>)
                </div>
                <div class="dashContainer">
                        -
                </div>
                <div class="holdingsShares">
                  <%= transaction.shares %> Shares
                </div>

                <div class="holdingsValuePerStock">
                    <%= number_to_currency(transaction.price_per_share) %> <span class="perShareText">(per share)</span>
                </div>
               
              </div>
              <br>
            <% end %>
             
                
              
            </div>

        </div>
      
    </div>
</div>

