<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @transaction.user_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @transaction.type %>
</p>

<p>
  <strong>Stock symbol:</strong>
  <%= @transaction.stock_symbol %>
</p>

<p>
  <strong>Shares:</strong>
  <%= @transaction.shares %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
