<!DOCTYPE html>
<html>
  <head>
    <title>StockPortfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Righteous|Spicy+Rice" rel="stylesheet">
    </head>

  
  <body>
 
  <nav class="navbar navbar-expand-md navbar-light navbarText">
        <a  class="navbar-brand">
        <%= image_tag image_path("bull_icon.png"), :id => "navbarLogo" %>
            <span id="logoText"  >Neon Bull Trading</span>

        </a>
        <button id="hamburgerMenu" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                

            </ul>
            <ul class="navbar-nav">
            <% if params["controller"] == "devise/sessions" || params["controller"] == "devise/registrations"  %>
                
            <% if params["controller"] == "devise/sessions"  %>
                <li class="nav-item ">
                    <a class="nav-link" href="/users/sign_up">Sign Up</a>
                </li>
             <% else %>
                <li class="nav-item">
                    <a class="nav-link" href="/users/sign_in">Login</a>
                </li>
            <% end %>
                <% else %>
                <% if params["controller"] == "transactions"  %>
                <li class="nav-item">
                    <a class="nav-link" href="/">Portfolio</a>
                </li>
                <% else %>
                <li class="nav-item">
                    <a class="nav-link" href="/transactions">Transactions</a>
                </li>
                <% end %>
                <li class="nav-item">
                <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link" ) %> 
                </li>
                <% end %>
            </ul>

        </div>
    </nav>
    <%= yield %>
  </body>
</html>


